ES_URL=http://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=elastic
ES_INDEX=docs_rag
CHUNK_TOKENS=300
CHUNK_OVERLAP=60
DENSE_MODEL=sentence-transformers/all-MiniLM-L6-v2
ELSER_ENDPOINT_ID=my-elser-endpoint-01
